<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Registration</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/registration}"
      th:object="${ClientInDto}" method="POST">
    Name:
    <input type="text" th:field="*{name}" placeholder="name"/>
    <br/>
    Login:
    <input type="text" th:field="*{login}" placeholder="login"/>
    <br/>
    Password:
    <input type="text" th:field="*{password}" placeholder="password" />
    <br/>
    Password Confirm:
    <input type="text" th:field="*{passwordConfirm}" placeholder="confirm your password" />
    <br/>
    <input type="submit" value="Registration" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<!--<div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--     style="color:red;font-style:italic;">-->
<!--    ...-->
<!--</div>-->

</body>
</html>